.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 0.2;
  background-color: #040404;
  color: white;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar_logo {
  height: 70px;
  object-fit: contain;
  padding: 10px;
  margin-right: auto;
}

.sidebar_title {
  padding: 5px;
  margin-left: 10px;
  font-size: 12px;
}
